@import url('./fonts.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('./architecture.css');
@import url('./posoroko.css');
@import url('./introOverlay.css');
@import url('./dates.css');
@import url('./backgroundImage.css');

/* ...existing code... */


.socialIcon {
    height: 24px;
}
.socialIcon * {
    fill: var(--text-color);
}

.iconPiba {
    height: 85px;
}


/* Hide scrollbars but keep scrolling functionality */
.scrollContainer,
#bottomFullScreen,
.contentBox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Chrome, Safari and Opera */
.scrollContainer::-webkit-scrollbar,
#bottomFullScreen::-webkit-scrollbar,
.contentBox::-webkit-scrollbar {
  display: none;
}

.logoPiba {
    fill: var(--text-color);
    width: 150px;
}