@import url('./fonts.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('./architecture.css');
@import url('./posoroko.css');
@import url('./introOverlay.css');
@import url('./dates.css');
@import url('./backgroundImage.css');

/* ...existing code... */


.socialIcon {
    height: 24px;
}

.iconPiba {
    height: 85px;
}

.videoTeaser {
    filter: sepia(1);
}
.videoTeaser.active {
    filter: sepia(0);
}