.bottomFullScreen .backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@supports (background-image: url("image.webp")) {
  .bottomFullScreen .backgroundImage {
    background-image: url('../assets/images/xl/webp/bastard_2024_sebastien_durand-24.webp');
  }
}

/* @media (max-width: 1200px) {
  .bottomFullScreen .backgroundImage {
    background-image: url('../assets/images/l/jpg/bastard_2024_sebastien_durand-24.jpg');
  }
  @supports (background-image: url("image.webp")) {
    .bottomFullScreen .backgroundImage {
      background-image: url('../assets/images/l/webp/bastard_2024_sebastien_durand-24.webp');
    }
  }
}

@media (max-width: 768px) {
  .bottomFullScreen .backgroundImage {
    background-image: url('../assets/images/m/jpg/bastard_2024_sebastien_durand-24.jpg');
  }
  @supports (background-image: url("image.webp")) {
    .bottomFullScreen .backgroundImage {
      background-image: url('../assets/images/m/webp/bastard_2024_sebastien_durand-24.webp');
    }
  }
}

@media (max-width: 480px) {
  .bottomFullScreen .backgroundImage {
    background-image: url('../assets/images/s/jpg/bastard_2024_sebastien_durand-24.jpg');
  }
  @supports (background-image: url("image.webp")) {
    .bottomFullScreen .backgroundImage {
      background-image: url('../assets/images/s/webp/bastard_2024_sebastien_durand-24.webp');
    }
  }
} */


.introVideo {
    /* filter: sepia(1); */
}