.showsList {
    list-style-type: none;
    padding-left: 10vw;
    margin: 0;
    padding: 30vh 0 30vh 10vw;
    position: relative;
    z-index: 1;
}

.showsItem {
    margin-bottom: 20px;
    padding: 5px 0;
}

.show-date {
    color: var(--date-color); 
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.show-venue {
    color: var(--text-color);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 3px;
}

.show-location {
    color: var(--text-color);
    font-size: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.language-tag {
    background-color: var(--date-color); /* Semi-transparent red for language tags */
    color: var(--text-color-light);
    border-radius: 15px;
    padding: 1px 8px;
    font-size: 0.7em;
    display: inline-block;
    margin-left: 5px;
}