@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontColor-light: #f4f4f9;
    --fontColor-dark: #22223b;
}
.textColor {
    color: var(--text-color)
}
.fontSize_small {
    font-size: 0.8rem;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--fontColor-dark);
}

body.dark {
    color: var(--fontColor-light);
}

body.light {
    color: var(--fontColor-dark);
}

.font-noto {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.font-inter {
    font-family: "Inter Tight", sans-serif;
}

header .krismenn {
    color: var(--text-color);
}

/* 

    Bastard slide show
*/

.bastardBox {
    color: var(--text-color);
    font-family: "Inter Tight", serif;
}

.slideContainer  {
    position: relative;
}

.slide {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.slide .bastard {
    font-size: 10vw;
    font-family: "Noto Serif JP", serif;
}
.slide.text,
.slide .text {
    font-weight: 200;
    font-size: 38px;
}

.slide1.text,
.slide2.text {
    font-size: 45px;
    width: min(450px, 95vw)
}

.fadeInOutAnimation,
.fadeInOutAnimation {
    opacity: 0;
    animation-duration: 3000ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.fadeInOutAnimation {
    animation-name: fadeInOut;
}
.fadeInAnimation {
    animation-name: fadeIn;
}

.slide1 {
    animation-delay: 3000ms;
}

.slide2 {
    animation-delay: 7000ms;
}

.slide3 {
    animation-delay: 11000ms;
    animation-duration: 5000ms;
}

.premiere.fadeInAnimation {
    /* color: red; */
    opacity: 0;
    animation-delay: 13000ms;
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        /* color: red; */
        opacity: 0;
    }
    100% {
        /* color: green; */
        opacity: 1;
    }
}

