@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-color);
}

.pageTitle {
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: 400;
}
.pageIntro {
    font-weight: 400;
    line-height: 1.5rem;
}

.fontSize_small {
    font-size: 0.8rem;
}

.font-noto {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header .krismenn {
    color: var(--text-color);
}



