video {
    height: 100vh;
    width: 100vw;
    filter: brightness(0.8) grayscale(0.7);
    object-fit: cover;
}

.slideContainer {
    color: var(--text-color);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slide span{
    font-family: "Noto Serif JP", serif;
}

.slide .bastard {
    font-size: clamp(50px, 10vw, 100px);
    font-family: "Noto Serif JP", serif;
}

.slide.text {
    font-family: "Noto Serif JP", serif;
    font-weight: 600;
    font-size: clamp(30px, 4vw, 50px);
}

.bzh{
    bottom: 60vh;
    left: 30vw;
    position: absolute;
}

.fr{
    top: 60vh;
    right: 30vw;
    position: absolute;
}

@media only screen and (max-width:600px) {
  .bzh{
        left: 10vw;
    }

    .fr{
        right: 10vw;
    }
}

.krisMennHaPiba,
.premiere {
    font-weight: 200;
    font-size: clamp(16px, 3vw, 32px);
}

.slideContainer {
    --between: 600ms;
    --duration: 3000ms;
    --initial-delay: 2000ms;
}

.fadeInOutAnimation {
    opacity: 0;
    animation-duration: var(--duration);
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

body.loadedAndReady .fadeInOutAnimation {
    animation-name: fadeInOut;
}

body.loadedAndReady .fadeInAnimation {
    animation-name: fadeIn;
}


.slide1 {
    animation-delay: var(--initial-delay);
}

.slide2 {
    animation-delay: calc(var(--initial-delay) + var(--duration) + var(--between));
}

.slide3 {
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 2);
}

.slide4 {
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 3);
}

.slide5 {
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 4);
}

.slide6 {
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 5);
}
.slide.last {
    opacity: 0;
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 6);
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}

.premiere.fadeInAnimation {
    opacity: 0;
    animation-delay: calc(var(--initial-delay) + (var(--duration) + var(--between)) * 6 + 2000ms);
    animation-duration: 1500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}


@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        /* color: red; */
        opacity: 0;
    }
    100% {
        /* color: green; */
        opacity: 1;
    }
}