/* Color variables for Krismen site */
:root {
  --color-bg: #e6e2dc; /* beige/gray smokey background */
  --text-color: #a6978a; 
  --text-color-light: #f1dfcf;
  --date-color: #9a523c;
  --beige2: #4b4742; /* slightly lighter anthracite for links */
  --color-heading: #232220; /* slightly darker for headings */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-link);
}
